<div class="form-group">
{{view Ember.Select
       content=directions
       value=event.direction
       classNames="form-control"
}}
</div>
<div class="form-group">
  {{#if event.direction}}
    {{input classNames="form-control" type="text" value=event.action placeholder="action:"}}
  {{/if}}
</div>
<div class="form-group">
  <button class="btn btn-primary" {{action 'saveEvent'}}>Save</button>
  <button class="btn" {{action 'removeEvent'}}>X</button>
</div
