<h4>{{name}}</h4>
{{edit-event agent=model}}
{{input type="text" id="new-agent" placeholder="quick note:"
              value=message action="createNote"}}
{{#each note in notes}}
  <p>{{note.message}}</p>
{{/each}}
